/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
    font-size: 1.2em;
}

#recensioni-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recensione {
    margin-bottom: 20px;
}

.recensione p {
    margin: 0;
}

/* Footer Styles */
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    body {
        padding-bottom: 0px; /* Adjust the value as needed */
    }

    footer {
        position: relative;
    }
}
